<div class="container-fluid">
    <div class="row justify-content-sm-center">
        <div class="col-sm-8">
            <h2 class="title">{{vm.title}}</h2>
            <form>
                <div class="form-group">
                    <label>Nome comum</label>
                    <input type="text" 
                           ng-model="vm.cadastro.nomeComum" 
                           class="form-control">
                </div>
                <div class="form-group">
                    <label>Nome científico</label>
                    <input type="text" 
                           ng-model="vm.cadastro.nomeCientifico" 
                           class="form-control">
                </div>
                <div class="form-group">
                    <label>Família</label>
                    <input type="text" 
                           ng-model="vm.cadastro.familia.descricao" 
                           class="form-control">
                </div>
                <div class="form-group">
                    <label>Utilização</label>
                    <input type="text" 
                           ng-model="vm.cadastro.utilizacao.descricao" 
                           class="form-control">
                </div>
                <div class="form-group">
                    <label>Local de coleta</label>
                    <input type="text" 
                           ng-model="vm.cadastro.localColeta" 
                           class="form-control">
                </div>
                <div class="form-group">
                    <label>Data da coleta</label>
                    <input type="text"
                            
                            ng-model="vm.cadastro.dataColeta" 
                            class="form-control"
                            placeholder="Ex.: dd/mm/aaaa">
                </div>
                <div class="form-group">
                    <label>Observação</label>
                    <input type="text" 
                           ng-model="vm.cadastro.observacao" 
                           class="form-control">
                    <!--
                    <textarea class="form-control" 
                            rows="2"
                            ng-model="vm.cadastro.observacao">
                    </textarea>-->
                </div>
                <button ng-click="vm.salvar()" type="button" class="btn btn-outline-success">Salvar</button>
                <button ui-sref="planta.list" type="button" class="btn btn-outline-danger">Cancelar</button>
            </form>
        </div>
    </div>
</div>
